import React, {PropTypes} from 'react';

const SampleComponent = ({message}) => (
  <div className="hello-world">
    {message}
  </div>
);

// specifying propTypes is optional & only used for validation during development
SampleComponent.propTypes = {
  message: PropTypes.string
};

export default SampleComponent;
