import React, {Component} from 'react';

export default class SampleComponent extends Component {
  render() {
    return (
      <div className="hello-world">
        {this.props.message}
      </div>
    );
  }
}