// Transpiles to components.js via Webpack and Babel

import React, {Component} from 'react';
import {render} from 'react-dom';

class SampleComponent extends Component {
  render() {
    return (
      <div className="hello-world">
        {this.props.message}
      </div>
    );
  }
}

render(
  <SampleComponent message="Hello world!" />,
  document.getElementById('app')
);