import React, {PropTypes} from 'react';

const SampleComponent = ({message}) => (
    <div className="hello-world">
      {message}
    </div>
);

SampleComponent.propTypes = {
    message: PropTypes.string
};

export default SampleComponent;