// Transpiles to components.js via Webpack and Babel

import React from 'react';
import {render} from 'react-dom';

const SampleComponent = ({message}) => (
  <div className="hello-world">
    {message}
  </div>
);

render(
  <SampleComponent message="Hello world!" />,
  document.getElementById('app')
);
